* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 300px;
    margin: 100px auto;
    height: 400px;
    box-shadow: 0 2px 3px;
    background-color: rgba(37, 139, 194, 0.3);
    overflow: hidden;
    border-radius: 10px;
}

.container img{
    position: relative;
    left: 70px;
    top: 40px;
}

#about{
    position: relative;
    top: 100px;
    text-align: justify;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
}

.container:hover > img{
    transform: translateY(-70%) rotateY(90deg);
    transition: 1s;
}

.container:hover > #about{
    display: block;
    transform: translateY(-115%) ;
    transition: 1s;
}

.container h1{
    margin-top: 100px;
    text-align: center;
}
.container:hover>h1{
    transform: scale(0%);
    transition: 0.5s;
}

.container h2{
    text-align: center;
    position: relative;
    top: -30px;
}
.container:hover>h2{
    transform: translateY(500%);
    transition: 2s;
}
